<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add movie</title>
</head>
<body>
    <form action="/fetch-movie" method="POST">
    <input type="text" id="search_term" name="search_term" placeholder="Movie Name" required >
    <button type="submit">Fetch Details</button>
    </form>    
    {{#each movieList}}
    <div class="movieDetailsContainer">
        <div class="posterContainer">
            {{!-- / is missing after original --}}
            <img src="https://image.tmdb.org/t/p/original{{this.poster_path}}" alt="Movie poster">
        </div>
        <div class="detailsTextContainer">
            <a href="/addMovie/{{this.id}}">
                <h2>{{this.title}}</h2>
            </a>
            <p>{{this.overview}}</p>
            <p>Release Date{{this.release_date}}</p>
        </div>
    </div>
    {{/each}}
</body>
<style>
    .movieDetailsContainer {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-inline: 10rem;
    }
    .posterContainer {
        display: flex;
    }
    .posterContainer img {
        width: 100px;
        height: auto;                
    }
</style>
</html>