<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit Movie</title>
</head>
<body>
    <h1>Edit Movie</h1>  
    {{#each movies}}
    <div class="movieDetailsContainer">
        <div class="posterContainer">
            {{!-- / is missing after original --}}
            <img src="https://image.tmdb.org/t/p/original{{this.posterPath}}" alt="Movie poster">
        </div>
        <div class="detailsTextContainer">
            <a href="/movies/{{_id}}">
                <h2>{{this.title}}</h2>
            </a>
            <p>{{this.overview}}</p>
            <p>Release Date{{this.releaseDate}}</p>
        </div>
    </div>
    {{/each}}  
</body>
<style>
    .movieDetailsContainer {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-inline: 10rem;
    }
    .posterContainer {
        display: flex;
    }
    .posterContainer img {
        width: 100px;
        height: auto;                
    }
</style>
</html>